@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}
ul,li{list-style:none;}
a:link,a:visited{
    text-decoration: none;
    color: black;
}

.clearfix:after{
    content:"";
    display: block;
    clear: both;
}