@charset "utf-8";

body{
    height: 300vh;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.bg-gray{
    background-color: #ddd !important;
}
.bg-orange{
    background-color: orange !important;
}
.bg-sky{
    background-color: skyblue !important;
}


.hd{
    box-shadow:0 0 10px rgba(0,0,0,0.3) ;
    position: fixed;
    width: 100%;
    background-color: white;
}
.menuWrap{
    display: flex;
    justify-content:space-between;
    /* height: 70px; */
    padding: 10px 0;
    /* align-items: center; */
}

.menuWrap .gnb ul{display: flex;}
.menuWrap .gnb li{width: 150px;height: 50px;}
.menuWrap .gnb a{
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuWrap .gnb a:hover{
    font-weight: bold;
}

.menuWrap .sns{
    display: flex;
    align-self: center;
    gap:10px
    
}
.menuWrap .sns li{
    width: 40px;height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    background: #00f;
    color:white
}


.visual{
    height: 100vh;
    min-height: 600px;
    margin-bottom: 50px;
}


.top{
    width: 100px;height: 100px;
    position: fixed;
    right: 10px;bottom: 10px;
    background-color: red;
    border-radius: 50%;
}

.banner{
    display: flex;
    justify-content: space-between;
}

.banner .card{
    width: 384px;height: 580px;
}

.banner .card .imgWrap img{transition: 0.3s;}
.banner .card .imgWrap:hover img{
    /* transform:translate(0,0) scale(1) rotate(10deg); */
    transform: translateY(-20px);
    box-shadow: 0 20px 20px rgba(0,0,0,0.3);
}

.banner .card .card-text{
    padding: 16px 20px;
}

.banner .card .card-text h3{
    margin-bottom: 10px;
}
