html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}
