@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

//색상
$primary-color: #dedede;

//폰트
$primary-font: 'Noto Sans KR', sans-serif;

//폰트사이즈
$base-font-size: 16px;

//font color
$base-font-color: #333;

//etc
