$color: red;

$fontColor-100: #f8f9fa;
$fontColor-200: #e9ecef;
$fontColor-300: #dee2e6;
$fontColor-400: #ced4da;
$fontColor-500: #adb5bd;
$fontColor-600: #6c757d;
$fontColor-700: #495057;
$fontColor-800: #343a40;
$fontColor-900: #212529;
